spring:
  profiles:
    active: dev


---
spring:
  profiles: dev
  h2:
    console:
      enabled: true
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 100MB
  datasource:
    driver-class-name: org.h2.Driver
    data-username: sa
    data-password:
    url: jdbc:h2:mem:testdb
  cache:
    type: redis
  redis:
    host: localhost
    port: 6379

# hibernate 바인드 파라미터 값 설정
logging:
  level:
    org:
      hibernate:
        type:
          descriptor:
            sql: trace

server:
  port: 8081

mybatis:
  mapper-locations: classpath:mapper/**/*.xml

jpa:
  hibernate:
    ddl-auto: create


app:
  datasource:
    strings:
      - a
      - b
      - c
      -
# 애플리케이션이 사용하는 프레임워크 설정을 커스텀하기 위한 프로퍼티 입니다.
application:
  datasource:
    ms-holder:
      driver-class-name: org.h2.Driver
      url: mysql url
      user-name: mysql username
      password: mysql password
    postgre-holder:
      driver-class-name: org.h2.Driver
      url: jdbc:h2:mem:testdb
      user-name: sa
      password:
